@charset "UTF-8";

// 定义字体
@font-face {
    font-family: "LXGWWenKaiMonoScreen";
    src: url('./LXGWWenKaiMonoScreen.ttf'); // 注意这里的路径
}

@font-face {
    font-family: "klxq";
    src: url('./klxq.ttf'); // 注意这里的路径
}